[submodule "hex-codes-in-swift"]
	path = hex-codes-in-swift
	url = https://github.com/aleclarson/hex-codes-in-swift
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/lingoer/SwiftyJSON
[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/lesmuc/Alamofire
	branch = master
