[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/lingoer/SwiftyJSON
[submodule "PKHUD"]
	path = PKHUD
	url = https://github.com/pkluz/PKHUD
